@json_file: https://cdn.rawgit.com/sadhanareddy/ren-plan/fa2a0b00/user_data.json;

@json: ~`json = function($key) {
       	      	var request = new XMLHttpRequest();
       	        request.open("GET", "@{json_file}", false);
		request.send(null);
		var my_json = JSON.parse(request.responseText);
		return my_json[$key];
	      }`; 


h2{
   color: ~`json('color1')`;
   background-color: ~`json('color2')`;
}

body{
   background-color: ~`json('color2')`;
}


if(@theme-support){
  body{
     background: green;
  }
}

@selector{
  font-size: @font-size;
  background-color: @color1;
  color: @color1;
}