@font: 56px;
@background: pink;
@color-text:purple;
@color1:red;
@selector:h2;
@a:@b;
@b:blue;
@user_name:sadhana;
@age:70;
@profession:student;
@language:telugu;

/*body{
   background: @color-text;
}*/

h3{
   background: @a;  
}

/*if(@selector == 'h2'){
h2{
   color: @color-text;
   background-color: @color-text;
}
}*/

@{selector}{
   color: @a;
   //background-color: @a;
   .mixin(@age);
}

.mixin(@age) when ( @age>60 ){
   font-weight: bold;
   background: purple;
   font-style:italic
}







