@font-size: 56px;
@background: pink;
@color-text:purple;
@color1:red;
@selector:h2;
@import "https://cdn.rawgit.com/sadhanareddy/ren-plan/82664d98/user_data.json";

body{
   background: @color;
}

h3{
  background:@color;
}

/*if(@selector == 'h2'){
h2{
   color: @color-text;
   background-color: @color-text;
}
}*/

@{selector} {
   color: @color;
   background-color: @color;
}




