@font-size: 56px;
@background: pink;
@color-text:purple !important;
@color1:red;
@selector:h2;
//@import "https://cdn.rawgit.com/sadhanareddy/ren-plan/82664d98/user_data.json";
@a:@b;
//@b:blue !important;

body{
   background: @color-text;
}

h3{
  background: @color-text;
}

/*if(@selector == 'h2'){
h2{
   color: @color-text;
   background-color: @color-text;
}
}*/

@{selector} {
   color: @color-text;
   background-color: @color-text;
}




